@model ImperialNova.ViewModels.RoleActionViewModel

@if (Model != null)
{
    <div class="card-content">
        <div class="card-header">
            <h5 class="card-title">
                @if (!string.IsNullOrEmpty(Model.ID))
                {
                    <span>Edit Role</span>
                }
                else
                {
                    <span>Create Role</span>
                }
            </h5>

        </div>
        <div class="card-body">
            <form id="actionForm">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="Name" placeholder="Enter Full Name." value="@Model.Name">
                </div>



            </form>

            <div class="errorDiv">

            </div>
        </div>
        <div class="card-footer">
            @if (!string.IsNullOrEmpty(Model.ID))
            {
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Update</button>
            }
            else
            {
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Save</button>
            }
            <button type="button" class="btn btn-secondary" data-dismiss="card"><i class="fas fa-times mr-1"></i> Close</button>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $("#actionButton").click(function () {
        $("#actionButton").attr("disabled", "disabled");
        showLoadingSpinner();
		$.ajax({
			url: '@Url.Action("Action", "Role")',
			type: "post",
			data: $("#actionForm").serialize()
		})
		.done(function (response) {
			if(response.Success)
			{
				window.location.href = "@Url.Action("Index", "Role")";
			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});
	});
</script>
