<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/adminTemplate/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/adminTemplate/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/adminTemplate/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/adminTemplate/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminTemplate/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/adminTemplate/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/adminTemplate/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <style>
        .logo {
            width: 243px;
            margin-bottom: 45px;
        }

        i {
            width: 20px;
            margin-left: 4px;
            margin-right: 5px;
        }

        .dashboard {
            margin-top: -31px;
        }
        .loading-spinner-overlay {
            display: none; /* Initially hidden */
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 9999; /* Ensure it appears above all other content */
            background-color: rgba(0,0,0,0.5); /* Transparent black */
        }


        .spinner {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @@keyframes spin {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }

            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div id="loadingSpinner" class="loading-spinner-overlay">
        <div class="spinner"></div>
    </div>
    <div class="wrapper">

        <!-- Preloader -->
        @*<div class="preloader flex-column justify-content-center align-items-center">
                <img class="animatio n__shake" src="~/Content/adminTemplate/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
            </div>*@

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                @*<li class="nav-item">
                        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                            <i class="fas fa-search"></i>
                        </a>
                        <div class="navbar-search-block">
                            <form class="form-inline">
                                <div class="input-group input-group-sm">
                                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-navbar" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>*@

                <!-- Messages Dropdown Menu -->
                <!--<li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">-->
                <!-- Message Start -->
                <!--<div class="media">
                    <img src="~/Content/adminTemplate/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            Brad Diesel
                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">Call me whenever you can...</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>-->
                <!-- Message End -->
                <!--</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">-->
                <!-- Message Start -->
                <!--<div class="media">
                    <img src="~/Content/adminTemplate/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            John Pierce
                            <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">I got your message bro</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>-->
                <!-- Message End -->
                <!--</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">-->
                <!-- Message Start -->
                <!--<div class="media">
                    <img src="~/Content/adminTemplate/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            Nora Silvester
                            <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">The subject goes here</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>-->
                <!-- Message End -->
                <!--</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>-->
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    @*<a class="nav-link" data-toggle="dropdown" href="~/Stock/Index">
                            <i class="far fa-bell"></i>
                        </a>*@
                    <a href="~/Notifications/Index" class="nav-link">
                        <i class="far fa-bell"></i>

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>

                    </a>
                </li>
                @*<li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>*@
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <!-- Sidebar -->
            <!--<div class="sidebar">-->
            <!-- Sidebar user panel (optional) -->
            <!--<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/Content/adminTemplate/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Alexander Pierce</a>
                </div>
            </div>-->
            <!-- SidebarSearch Form -->
            @*<div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>*@

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->

                    <a href="index3.html">
                        <img src="~/Content/adminTemplate/dist/img/logo.png" alt="AdminLTE Logo" class="logo">
                    </a>
                    @*menu-open*@
                    <li class="nav-item dashboard">

                        <a href="~/Admin/Dashboard" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt "></i>
                            <p>
                                Dashboard
                            </p>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-line" aria-hidden="true"></i>
                            <p>
                                Stock Report
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Stock/Index" class="nav-link">
                                    <i class="far fa-circle nav-icon" aria-hidden="true"></i>
                                    <p>Stock Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Stock/Action" class="nav-link">
                                    <i class="far fa-circle nav-icon" aria-hidden="true"></i>
                                    <p>Stock Setting</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/DeliveryForm/Index" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add Delivery Form</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/DeliveryForm/Listing" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>All Records</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <p>
                                Orders
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Order/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add Order</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Order/Index" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>All Orders</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Order/ReadyToShipOrder" class="nav-link">
                                    <i class="far fa-circle nav-icon" aria-hidden="true"></i>
                                    <p> Ready To Ship Order</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Order/Shipped" class="nav-link">
                                    <i class="far fa-circle nav-icon" aria-hidden="true"></i>
                                    <p>Shipped Orders</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/CSV/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add CSV File</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/CSV/Index" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>All CSV Files</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Customer/Action" class="nav-link">
                                    <i class="fas fa-user-edit nav-icon" aria-hidden="true"></i>
                                    <p> Add Customer</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Customer/Index" class="nav-link">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <p>All Customers</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-warehouse" aria-hidden="true"></i>
                            <p>
                                Inventory In
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/InventoryIn/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add Inventory In</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/InventoryIn/Index" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>All Records</p>
                                </a>
                            </li>
                             <li class="nav-item">
                                <a href="~/InventoryIn/Import" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Import Inventory In</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/InventoryIn/PendingOrder" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p> Pending Order</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/InventoryIn/CompletedOrder" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Completed</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Supplier/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p> Add Supplier</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Supplier/Index" class="nav-link">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <p>All Supplier</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Location/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add Warehouse</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Location/Index" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>All Warehouses</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-recycle" aria-hidden="true"></i>
                            <p>
                                Adjustments
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Adjustment/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add Adjustments</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Adjustment/Index" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>All Records</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-dollar-sign" aria-hidden="true"></i>
                            <p>
                                Payments
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Payment/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add Payment</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Payment/Index" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>All Payments</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            <p>
                                Reminders
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Reminder/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add Reminder</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Reminder/Index" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>All Reminders</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <p>
                                Products
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Product/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add Product</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Product/Import" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Import Products</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Product/Index" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>All Products</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Category/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add Category</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Category/Index" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>All Categories</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <p>
                                Features
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">

                                <a href="~/TodoList/Index" class="nav-link">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                    <p>
                                        To Do
                                    </p>
                                </a>

                            </li>
                            <li class="nav-item">

                                <a href="~/Notifications/Index" class="nav-link">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                    <p>
                                        Notifications
                                    </p>
                                </a>

                            </li>
                            <li class="nav-item">

                                <a href="~/Documents/Index" class="nav-link">
                                    <i class="fa fa-folder" aria-hidden="true"></i>
                                    <p>
                                        Documents
                                    </p>
                                </a>

                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <p>
                                User
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/User/Register" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Add User</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/User/Index" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>Users</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Role/Action" class="nav-link">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p> Add Roles</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Role/Index" class="nav-link">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <p>Roles</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <p>
                                    Settings
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="~/User/Register" class="nav-link">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <p>Add User</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/User/Index" class="nav-link">
                                        <i class="fa fa-list" aria-hidden="true"></i>
                                        <p>Users</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Role/Action" class="nav-link">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <p> Add Roles</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Role/Index" class="nav-link">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                        <p>Roles</p>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                    @*<li class="nav-header">MISCELLANEOUS</li>
                        <li class="nav-item">
                            <a href="iframe.html" class="nav-link">
                                <i class="nav-icon fas fa-ellipsis-h"></i>
                                <p>Tabbed IFrame Plugin</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://adminlte.io/docs/3.1/" class="nav-link">
                                <i class="nav-icon fas fa-file"></i>
                                <p>Documentation</p>
                            </a>
                        </li>
                        <li class="nav-header">MULTI LEVEL EXAMPLE</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>Level 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-circle"></i>
                                <p>
                                    Level 1
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Level 2</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>
                                            Level 2
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Level 3</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Level 3</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Level 3</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Level 2</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>Level 1</p>
                            </a>
                        </li>
                        <li class="nav-header">LABELS</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-danger"></i>
                                <p class="text">Important</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-warning"></i>
                                <p>Warning</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Informational</p>
                            </a>
                        </li>*@
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()}
            @RenderBody()
        </div>
    </div>
    <!-- /.content-wrapper -->
    @*<footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>*@

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Content/adminTemplate/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/adminTemplate/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/adminTemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Content/adminTemplate/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    @*<script src="~/Content/adminTemplate/plugins/sparklines/sparkline.js"></script>*@
    <!-- JQVMap -->
    <script src="~/Content/adminTemplate/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Content/adminTemplate/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/adminTemplate/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/adminTemplate/plugins/moment/moment.min.js"></script>
    <script src="~/Content/adminTemplate/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Content/adminTemplate/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <link rel="stylesheet" href="~/Content/adminTemplate/plugins/summernote/summernote-bs4.min.css">

    <script src="~/Content/adminTemplate/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Content/adminTemplate/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/adminTemplate/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/adminTemplate/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/adminTemplate/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/adminTemplate/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/adminTemplate/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/adminTemplate/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/adminTemplate/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/adminTemplate/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/adminTemplate/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Content/adminTemplate/dist/js/adminlte.js"></script>
    <script>
        $(document).ready(function () {
            $('.nav-item').has('.nav-treeview').each(function () {
                const $this = $(this);
                const $navTreeview = $this.find('.nav-treeview');
                const $navLink = $this.find('.nav-link');

                $navLink.click(function (e) {
                    // Toggle the dropdown state
                    const isOpen = $navTreeview.is(':visible');

                    // Close all other open dropdowns except the clicked one
                    $('.nav-treeview').not($navTreeview).slideUp();

                    // Toggle the current dropdown based on its state
                    if (!isOpen) {
                        $navTreeview.slideDown();
                    }
                });
            });
        });
        function showLoadingSpinner() {
            document.getElementById('loadingSpinner').style.display = 'block';
        }

        function hideLoadingSpinner() {
            document.getElementById('loadingSpinner').style.display = 'none';
        }
    </script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/Content/adminTemplate/dist/js/demo.js"></script>*@
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/Content/adminTemplate/dist/js/pages/dashboard.js"></script>*@
</body>
</html>
